<?xml version="1.0" encoding="UTF-8"?>

<launch>
	
	<arg name="static" default=""/>
        <include 
            file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name"  value="$(find vitarana_drone)/worlds/drone$(arg static).world"/>
        </include>

    <node pkg="vitarana_drone" type="attitude_controller.py" name="attitude_controller" output="screen"/>
    <node pkg="vitarana_drone" type="position_controller.py" name="position_controller" output="screen"/>
    
    

</launch>